@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@700&display=swap");

:root {
  --h1--size: 2rem;
  --h2--size: 1.5rem;
  --p--size: 13px;
  --h1-line-h: 40px;
  /* ----------------------colors  */
  --nav--Bg: #4b215e;
  --action--color: #f2c94c;
  --btn-color: #f22987;
  --body-bg: conic-gradient(
    from 128.6deg at 73.47% 55.13%,
    #f67893 -16.88deg,
    #dc267e 35.62deg,
    #2f1f6a 106.88deg,
    #5c2258 191.25deg,
    #845280 283.13deg,
    #f67893 343.12deg,
    #dc267e 395.63deg
  );

  /* ----------------font-family */
  --font--1: "Lato", sans-serif;
  --font--2: "Montserrat", sans-serif;
}
@media only screen and (min-width: 992px) {
  :root {
    --h1--size: 3.5rem;
    --h2--size: 2.5rem;
    --p--size: 1rem;
    --h1-line-h: 75px;
  }
}
body {
  background-image: var(--body-bg);
  background-repeat: no-repeat;
  min-height: 100vh;
}
img {
  width: 100%;
}
nav {
  background-color: var(--nav--Bg);
}
section {
  padding: 100px 0px;
}
.title {
  color: #fff;
  font-weight: 700;
  font-family: var(--font--2);
  font-size: var(--h1--size);
  line-height: var(--h1-line-h);
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}
.subTitle {
  color: var(--action--color);
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 1rem;
}
.description {
  font-weight: 400;
  font-size: var(--p--size);
  letter-spacing: 0.5px;
  line-height: 24px;
  color: #fff;
  opacity: 0.6;
  margin-bottom: 1.5rem;
}
.dev-flex {
  display: flex;
  align-items: center;
}
#btn{
  background-color: var(--btn-color);
}